<app-navigation title="HELLO WORLD ANGULAR"></app-navigation>
<div class="p-10">
  <h1 class="my-5 text-3xl">HOME WORKS!</h1>
  <button
    type="button"
    class="relative flex justify-center px-4 py-2 my-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    (click)="handleGoLogin()"
  >
    Go Login
  </button>
  <button
    type="button"
    class="relative flex justify-center px-4 py-2 my-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    (click)="handleGoData()"
  >
    Go to DATA
  </button>
  <button
    type="button"
    class="relative flex justify-center px-4 py-2 my-3 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    (click)="handleHideShow()"
  >
    {{ hide ? "HIDE" : "SHOW" }}
  </button>
  <h1 *ngIf="hide" class="my-5 text-3xl">Pikaboo!</h1>
</div>
